<div class="footer d-flex align-items-center justify-content-between mt-5">
  <div class="copyright">{{ 'footer.copyright' | translate }}</div>
  <div class="social-media-icons d-flex justify-content-between">
    <a href="{{ 'footer.social-media.facebook' | translate }}" class="facebook-url">
      <img src="assets/ic_facebook.svg" alt="Facebook" />
    </a>
    <a href="{{ 'footer.social-media.twitter' | translate }}" class="twitter-url">
      <img src="assets/ic_twitter.svg" alt="Twitter">
    </a>
    <a href="{{ 'footer.social-media.instagram' | translate }}" class="instagram-url">
      <img src="assets/ic_instagram.svg" alt="Instagram">
    </a>
    <a href="{{ 'footer.social-media.youtube' | translate }}" class="youtube-url">
      <img src="assets/ic_youtube.svg" alt="Youtube">
    </a>
  </div>
</div>
