@import '~styles.scss';

.lucros-view {
  padding: 10px $_HEADER_PADDING_X;
  color: $_VIEWS_TEXT_COLOR;

  .header {
    .title-sub-title {
      .title {
        font-family: 'Gilroy-ExtraBold';
        font-size: 36px;
        line-height: 43px;
      }
      .sub-title {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
      }
    }

  }
}
