@import '~styles.scss';

.lucros-view {
  padding: 10px $_HEADER_PADDING_X;
  color: $_VIEWS_TEXT_COLOR;

  .header {
    .title-sub-title {
      .title {
        font-family: 'Gilroy-ExtraBold';
        font-size: 36px;
        line-height: 43px;
      }
      .sub-title {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
      }
    }
  }

  .card-view {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    width: 100%;

    .card-title {
      color: #3C3C3C;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }

    mat-table.main-table {
      width: 100%;

      mat-header-row {
        height: 50px;
        color: rgba(0, 0, 0, 0.54);
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
      }

      mat-row {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        background-color: #F8F8F8;
        height: 50px;
        color: rgba(0, 0, 0, 0.87);
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
