@import '~styles.scss';

:host {
  min-height: 100%;
  min-width: 100%;

  div.main {
    min-height: 100%;
    min-width: 100%;

    div.router-container {
      background-color: $_MAIN_OUTLET_BG_COLOR;
      background-image: url('../assets/background.svg');
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}
