@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
}

/* COLORS */

/* SIDE_MENU */
$_BLUE: #0081A7;
$_GREEN: #00B286;
$_TEXT_COLOR: #00A685;
$_MENU_DIVISOR_COLOR: rgba(255, 255, 255, 0.30);
$_MENU_ITEM_SHADOW_BOX: rgba(0, 0, 0, 0.30);
$_MENU_ITEM_RADIUS: 50px;
$_MENU_ITEM_BG_COLOR: #FFFFFF;
/* HEADER */
$_HEADER_BG_COLOR: #FFFFFF;
$_HEADER_USER_COLOR: #4A4A4A;
$_HEADER_SHADOW_BOX: rgba(0, 0, 0, 0.22);
/* CONTAINER */
$_BG_COLOR: #EDF3F0;

/* SPACINGs */

/* SIDE_MENU */
$_SIDE_MENU_WIDTH: 293px;
$_ITEM_MENU_WIDTH: 253px;
/* HEADER */
$_HEADER_HEIGHT: 65px;
$_HEADER_PADDING_X: 10%;

html, body {
  height: 100%;
}

img.icon-default {
  // width: 24px;
  // height: 24px;
}
